EXPO_PUBLIC_API_URL=https://api.autoqr.de
EXPO_PUBLIC_API_BASE_URL=https://api.autoqr.de/api
EXPO_PUBLIC_SOCKET_URL=https://api.autoqr.de
EXPO_PUBLIC_ASSETS_BASE_URL=https://api.autoqr.de
EXPO_PUBLIC_AGORA_APP_ID=a0a13f1a56064f6da8646ec5663b2834